<p>add-proveedor works!</p>
<div class="container col-md-6">
    <div>
        <h3>Agregar Proveedor</h3>
    </div>
    <div class="card-body">
        <form (submit)="guardar(modelProveedor)">
            <div class="form-group">
                <label for="ruc">RUC:</label>
                <input type="text" [(ngModel)]="modelProveedor.ruc" id="ruc" name="ruc" class="form-control" placeholder="Ingrese RUC del proveedor" title="RUC proveedor">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre del proveedor:</label>
                <input type="text" [(ngModel)]="modelProveedor.nombre" id="nombre" name="nombre" class="form-control" placeholder="Ingrese el nombre del proveedor" title="Nombre del proveedor">
            </div>
            <div class="form-group">
                <label for="contacto">Persona de contacto :</label>
                <input type="text" [(ngModel)]="modelProveedor.contacto" id="contacto" name="contacto" class="form-control" placeholder="Ingrese nombre del Contacto del proveedor" title="Contacto del proveedor">
            </div>
            <div class="form-group">
                <label for="email">Email :</label>
                <input type="text" [(ngModel)]="modelProveedor.email" id="email" name="email" class="form-control" placeholder="Ingrese email del proveedor" title="Email del proveedor">
            </div>
            <div class="form-group">
                <label for="celular">Celular :</label>
                <input type="text" [(ngModel)]="modelProveedor.celular" id="celular" name="celular" class="form-control" placeholder="Ingrese el celular del proveedor" title="Celular del proveedor">
            </div>
            
            <button type="submit"  class="btn btn-danger">Guardar</button>
        </form>
    </div>
    
</div>
