<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <a routerLink="/usuarios" class="nav-link">Usuarios</a>
      <a routerLink="/proveedores" class="nav-link">Proveedores</a> 
      <a routerLink="/productos" class="nav-link">Productos</a>
      <a routerLink="/catalogo" class="nav-link">Catálogo</a>
      <a routerLink="/carrito" class="nav-link">Carrito Compras</a>  
      <!-- Asegúrate de que el routerLink comience con / para que sea una ruta absoluta -->
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
