<p>carrito-compras works!</p>
<div class="container mt-4">
    <br>
    <div class="row">
        <div  class="col-sm-8">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant</th>
                <th>SubTotal</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody>
               <!-- <tr  *ngFor="let detalle of carrito,  let i = index" >
                  <td> {{detalle.idProducto}} </td>
                  <td> {{producto.descripcion}} 
                    <img src="assets/images/{{detalle.idProducto}}.jpg" alt="{{producto.descripcion}}"  width="100" height="100"> 
                  </td>
                  <td> {{detalle.producto.precio}}</td>
                  <td>      
                    <input type="number" [(ngModel)]="detalle.cantidad" class="form-control text-center" min="1"
                                       (change)="actualizarCantidad(detalle.producto.id, detalle.cantidad)">     
                   </td>
                  <td> {{ detalle.importe }}</td>
                  <td> 
                    <button class="btn btn-primary btn-block"  (click)="eliminarItemCarrito(detalle.producto)">Eliminar</button>
                  </td>
                </tr> 	 -->
            </tbody>
          </table>     
        </div>
        

        <div class="card" >           
            <h3 class="card-header">Generar Compra</h3>           
            <div class="card-body">
              <label>Subtotal: </label>
              <input type="text" value="{{ calcularTotal() }}" readonly="" class="form-control"> 
              <label>Descuento: </label>
              <input type="text" value="S/. 0.00" readonly="" class="form-control"> 
              <label>Total Pagar: </label>
              <input type="text" value="{{ calcularTotal() }}" readonly="" class="form-control"> 
            </div>
            <div class="card-footer text-muted">
            <button (click)="registrarCompra()"  class="btn btn-danger">Realizar Pago</button>
            </div>
        </div>

    </div>
    
</div>  
